body {
    background-image:url('pizza00.jpg');
}

p
{
    display: block;
    padding-top: 20px;
    font-family: 'Merriweather', serif;
    text-align:center;
    color: white ;
    font-size: 100px;
    text-shadow: 0 0 3px crimson, 0 0 5px white;
}

div{
    
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-basis: 33.333333%;
    width: 50%;
    margin: auto;
    align-items: center;    
}

a:link {
    color: white;
}

figcaption {
    color: white;
}
